:root {
	/* greens */
	--green01: forestgreen;

	/* yellows */
	--yellow01: goldenrod;

	/* reds */
	--red01: red;

	/* blues */
	--blue01: darkblue;

	/* purples (light) */

	/* purples (dark) */
	
	/* greys */
	--grey01: darkgrey;
	--grey02: grey;
}